/* CSS Document */

* {
   list-style: none;
   margin:     0;
   padding:    0;
}

html, body {
   height: 100%;
   width:  100%;
}

a {
   color:           inherit;
   text-align:      inherit;
   text-decoration: inherit;
}

body {
   background:      #fff url("../background.jpeg") no-repeat;
   background-size: cover;
   display:         block;
   overflow:        hidden;
}

header {
   margin-top: 5%;
   text-align: right;
   width:      90%;
}

nav {
   bottom:   0;
   color:    #ddd;
   margin:   auto;
   position: fixed;
   width:    100%;
   height:   10%;
}

.projects {
   color:       #fff;
   display:     none;
   font-family: 'bebas_neueregular';
   position:    fixed;
   text-align:  center;
}

#about {
   margin-left: 25%;
}

#projects {
   margin-right:    25%;
   text-decoration: none;
}

#navigation > li {
   display:    block;
   float:      left;
   font:       250% 'bebas_neueregular', sans-serif;
   text-align: center;
   width:      25%;
}

#projectChroma, #projectRose {
   color: #fff;
}

#projects:hover .projects {
   bottom:   100%;
   display:  block;
   margin:   auto;
   position: absolute;
   width:    inherit;
}

#logo {
   bottom:      0;
   float:       left;
   height:      8em;
   margin-left: 10%;
   width:       8em;
   z-index:     1;
}

#subtitle {
   font:       250% 'bebas_neuebook', sans-serif;
   color:      #ddd;
   text-align: right;
}

#title {
   font:  400% 'bebas_neuebold', sans-serif;
   color: #ddd;
}
